.card {
  min-height: 75%;
  margin-bottom: 5rem !important;
}

.search-input {
  width: 10rem;
}

.country-table {
  width: 98% !important;
}

.table-head th {
  min-height: 3rem;
  vertical-align: middle;
}

.capital-search {
  min-width: 9rem;
}

.footer {
  height: 3rem;
}

@media (max-width: 767px) {
  .card {
    min-width: 96% !important;
    margin: 3rem auto !important;
    font-size: 0.8rem;
  }

  .capital-search {
    font-size: 0.8rem !important;
  }

  .search-input {
    min-width: 60% !important;
    margin: auto !important;
  }
}
